<launch>
    <rosparam command="load" file="$(find planner)/config/planner.yaml" />
    <node name="planner_converter" pkg="converter" type="test_planner.py" output="screen" />
    <include file="$(find simple_cone_fusion)/launch/simple_cone_fusion.launch"/>
    <include file="$(find planner)/launch/planner.launch"/>
</launch>